API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.csproj.CoreCompileInputs.cache
API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.csproj.FileListAbsolute.txt
API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.dll
API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.pdb
API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.csproj.CoreCompileInputs.cache
API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.csproj.FileListAbsolute.txt
API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.dll
API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.pdb
API_Server/Taxi.API/bin/Debug/netcoreapp3.0/Taxi.API.dll
API_Server/Taxi.API/bin/Debug/netcoreapp3.0/Taxi.API.pdb
API_Server/Taxi.API/bin/Debug/netcoreapp3.0/Taxi.Domain.dll
API_Server/Taxi.API/bin/Debug/netcoreapp3.0/Taxi.Domain.pdb
API_Server/Taxi.API/bin/Debug/netcoreapp3.0/Taxi.Infrastructure.dll
API_Server/Taxi.API/bin/Debug/netcoreapp3.0/Taxi.Infrastructure.pdb
API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.csproj.CoreCompileInputs.cache
API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.csproj.FileListAbsolute.txt
API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.dll
API_Server/Taxi.API/obj/Debug/netcoreapp3.0/Taxi.API.pdb
API_Server/Taxi.Domain/bin/Debug/netcoreapp3.0/Taxi.Domain.dll
API_Server/Taxi.Domain/bin/Debug/netcoreapp3.0/Taxi.Domain.pdb
API_Server/Taxi.Domain/obj/Debug/netcoreapp3.0/Taxi.Domain.csproj.CoreCompileInputs.cache
API_Server/Taxi.Domain/obj/Debug/netcoreapp3.0/Taxi.Domain.csproj.FileListAbsolute.txt
API_Server/Taxi.Domain/obj/Debug/netcoreapp3.0/Taxi.Domain.dll
API_Server/Taxi.Domain/obj/Debug/netcoreapp3.0/Taxi.Domain.pdb
API_Server/Taxi.Infrastructure/bin/Debug/netcoreapp3.0/Taxi.Domain.dll
API_Server/Taxi.Infrastructure/bin/Debug/netcoreapp3.0/Taxi.Domain.pdb
API_Server/Taxi.Infrastructure/bin/Debug/netcoreapp3.0/Taxi.Infrastructure.dll
API_Server/Taxi.Infrastructure/bin/Debug/netcoreapp3.0/Taxi.Infrastructure.pdb
API_Server/Taxi.Infrastructure/obj/Debug/netcoreapp3.0/Taxi.Infrastructure.csproj.CoreCompileInputs.cache
API_Server/Taxi.Infrastructure/obj/Debug/netcoreapp3.0/Taxi.Infrastructure.csproj.FileListAbsolute.txt
API_Server/Taxi.Infrastructure/obj/Debug/netcoreapp3.0/Taxi.Infrastructure.dll
API_Server/Taxi.Infrastructure/obj/Debug/netcoreapp3.0/Taxi.Infrastructure.pdb
