.scheduleResult_container {
  margin-top: 20px;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 80%;
  background-color: white;
  border-radius: 15px;
  height: 182px;
}
.locationInformation_container {
  width: 69%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.locateInfo {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.locateInfo h3 {
  font-size: 15px;
  width: 100%;
  padding: 8px 10px;
}
.driverInfo_container {
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scheduleAva_container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.scheduleAva_container img {
  width: 100%;
}
.rating_Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}

.rating_Container h3 {
  padding-top: 5px;
}
.star-ratings {
  width: 124px;
  align-self: center;
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 64px;
  position: relative;
  margin: 0;
  padding: 0;
  .fill-ratings {
    width: 100%;
    color: #e7711b;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    font-size: 30px;

    // Allows us to grab the width of the span elements
    span {
      display: inline-block;
    }
  }
  .empty-ratings {
    width: 100%;
    display: block;
    z-index: 0;
    font-size: 30px;
  }
}
.orderAction_container {
  position: absolute;
  right: 4%;
  top: 41%;
  width: 30px;
}
.orderScheduleButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.orderScheduleButton:hover {
  background: rgba(196, 19, 19, 0.897);
  transition: all 0.4s ease-in;
}
.orderScheduleButton i {
  font-size: 15px;
  color: rgba(196, 19, 19, 0.897);
  transition: all 0.4s ease-in;
}
.orderScheduleButton:hover i {
  color: white;
  transition: all 0.4s ease-in;
}
.myOrder_MainContainer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
