$green_background: linear-gradient(60deg, #66bb6a, #43a047);
$green_shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
$orange_background: linear-gradient(60deg, #ffa726, #fb8c00);
$orange_shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
$red_background: linear-gradient(60deg, #ef5350, #e53935);
$red_shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
$white-color: white;