<header class="header_app">
  <nav class="header_nav">
    <app-app-logo></app-app-logo>

    <ul class="navContainer">
      <li class="navLinkContainer">
        <a class="navLink">Home</a>
      </li>
      <li class="navLinkContainer">
        <a class="navLink">Community</a>
      </li>
      <li class="navLinkContainer">
        <a class="navLink">About Us</a>
      </li>
      <li class="navLinkContainer">
        <a class="navLink">Contact Us</a>
      </li>
      <button routerLink="/login" class="header_button">
        Login/Sign up
      </button>
    </ul>
  </nav>
</header>
